#plateau {
    background-color: brown;
    
}

#info {
    background-color: aqua;
    padding: 0px;
    height:100vh;
    overflow: hidden;
}

#stats {
    border: 3px solid black;
    background-color: azure;
    padding-left: 15px;
}

table {
    width: 100%;
    height: 100vh;
    background-image: url('grass.png');
}

tr {

    justify-content: space-around;
}

td {
    /* width: 4.5em;
    height: 5.3em; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-position: left center, center center;
    background-repeat: no-repeat;
}

tr {
    border: 1px solid black;

}

.perso1 {

    background-image: url("weapon0min.png"), url("perso1.png");
}

.perso2 {

    background-image: url("weapon0min.png"), url("perso2.png");

}