#plateau {
    background-color: #28A745;
    border-right : 0.5px solid black;
    
}

#info {

    background-color: #F1F1F1;
    padding: 0px;
    height:100vh;
    overflow: hidden;
}

#stats {
    border: 3px solid black;
    background-color: #B9F6CA;
    padding-left: 15px;
}

#actions {
    padding: 4px;
}

#changeP {
    color: #0D47A1;
    font-weight: bold;
}

#changeW {
    color: #CC0000;
    font-weight: bold;
}

span {
    font-weight: bold;
}

table {
    width: 100%;
    height: 100vh;
    background-image: url('grass.png');
}

#fight {
    color: #E53935;
    font-weight: bold;
}

tr {

    justify-content: space-around;
}

td {
    /* width: 4.5em;
    height: 5.3em; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-position: left center, center center;
    background-repeat: no-repeat;
}

tr {
    border: 1px solid black;

}


.visuCurrent, .visuOther{
    height: 80px;
    width: 62px;
}

#inModal1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inModal2
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}