#plateau {
    background-color: brown;
}

table {
    width: 100%;
    height: 100vh;
    background-image: url('grass2.png');
}

tr {

    justify-content: space-around;
}

td {
    /* width: 4.5em;
    height: 5.3em; */
    border-left: 1px solid black;
    border-right: 1px solid black;
}

tr {
    border: 1px solid black;

}


.test {
    background-image: url("weapon3.png"), url("perso1.png");
    background-position: right center, left center;
    background-repeat: no-repeat;
}

.perso1 {

    background-image: url("perso2.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.perso2 {

    background-image: url("perso4.png");
    background-position: center center;
    background-repeat: no-repeat;
}